.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 1600px;
    padding: 0 32px;
    margin: 0 auto;
    color: var(--light-text-primary);
}

.dark-mode .navbar {
    color: var(--dark-text-primary);
}

.nav-left>a {
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins";
    display: flex;
}

.nav-center {
    display: flex;
    list-style: none;
}

.nav-center>li>a {
    font-weight: 500;
    color: var(--light-text-secondary);
    margin: 0 28px;
    position: relative;
    transition: color 0.3s ease;
    font-family: "Poppins";
}

.nav-center>li>a>svg {
    display: none;
}

.dark-mode .nav-center>li>a {
    color: var(--dark-text-secondary);
}

.nav-center>li>a:hover,
.nav-center>li>a.active {
    color: var(--light-text-primary);
}

.dark-mode .nav-center>li>a:hover,
.dark-mode .nav-center>li>a.active {
    color: var(--dark-text-primary);
}

.nav-center>li>a.active:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--light-text-primary);
    bottom: -5px;
}

.dark-mode .nav-center>li>a.active:before {
    background-color: var(--dark-text-primary);
}

.nav-right {
    display: flex;
}

.nav-right>button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border: 1px solid var(--light-text-primary);
    color: var(--light-text-secondary);
}

.dark-mode .nav-right>button {
    border: 1px solid var(--dark-text-primary);
    color: var(--dark-text-secondary);
}

.nav-right>button:hover {
    background-color: var(--dark-text-secondary);
}

.dark-mode .nav-right>button:hover {
    background-color: var(--light-text-secondary);
}

.btn-language {
    font-family: 'Poppins';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.btn-swith-mode {
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode .btn-swith-mode {
    background-color: var(--dark-text-secondary);
}

.dark-mode .btn-swith-mode:hover {
    background-color: var(--dark-text-primary) !important;
}

.btn-menu {
    margin-left: 16px;
    display: none;
}

.dark-mode .btn-menu svg path {
    fill: var(--dark-text-secondary);
}

.drawer-wrapper {
    padding: 24px;
    height: 100%;
    box-sizing: border-box;
}

.dark-mode .drawer-wrapper {
    background-color: #0c0b0b;
}

.drawer-wrapper>h2 {
    margin: 0;
    margin-bottom: 32px;
    font-size: 24px;
}

.drawer-wrapper>ul {
    padding: 0;
}

.drawer-wrapper .nav-center>li>a {
    color: #585858;
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 40px;
}

.dark-mode .drawer-wrapper .nav-center>li>a {
    color: #c3c3c3;
}

.drawer-wrapper .nav-center>li>a>svg {
    display: inline-block;
    margin-right: 16px;
    width: 20px;
}

.drawer-wrapper>.line-menu {
    border: none;
    border-top: 1px solid #5050501a;
}

.dark-mode .drawer-wrapper>.line-menu {
    border-color: #ffffff63;
}

.drawer-wrapper .nav-center>li>a.active:before {
    display: none;
}

.drawer-wrapper .nav-center>li>a.active {
    color: var(--light-text-primary);
}

.dark-mode .drawer-wrapper .nav-center>li>a.active {
    color: var(--dark-text-primary);
}

.dark-mode .drawer-wrapper .nav-center>li:not(:nth-of-type(4))>a>svg path {
    fill: #c3c3c3;
}

.dark-mode .drawer-wrapper .nav-center>li:nth-of-type(4)>a>svg path {
    stroke: #c3c3c3;
}

.drawer-wrapper .nav-center>li:not(:nth-of-type(4))>a.active>svg path {
    fill: var(--light-text-primary);
}

.dark-mode .drawer-wrapper .nav-center>li:not(:nth-of-type(4))>a.active>svg path {
    fill: var(--dark-text-primary);
}

.drawer-wrapper .nav-center>li:nth-of-type(4)>a.active>svg path {
    stroke: var(--light-text-primary);
}

.dark-mode .drawer-wrapper .nav-center>li:nth-of-type(4)>a.active>svg path {
    stroke: var(--dark-text-primary);
}


@media(max-width: 950px) {
    .nav-center {
        display: none;
    }

    .btn-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .show-menu-mobile {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 500px) {
    .navbar {
        padding: 0 16px;
    }
}

/***************************************************
 * Generated by SVG Artista on 9/16/2022, 1:44:04 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 186px;
        stroke-dasharray: 186px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 186px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 186px;
        stroke-dasharray: 186px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 186px;
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both alternate infinite;
    animation: animate-svg-stroke-1 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both alternate infinite;
}

@-webkit-keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 178px;
        stroke-dasharray: 178px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 178px;
    }
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 178px;
        stroke-dasharray: 178px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 178px;
    }
}

.svg-elem-2 {
    -webkit-animation: animate-svg-stroke-2 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both alternate infinite;
    animation: animate-svg-stroke-2 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both alternate infinite;
}

.logo-animate:hover .svg-elem-2,
.logo-animate:hover .svg-elem-1 {
    animation-play-state: paused;
}

.dark-mode .logo-animate>g>g {
    stroke: var(--dark-text-primary);
}

.dark-mode .logo-animate>g>text {
    fill: var(--dark-text-primary);
}